@media (max-width: 680px) {
  .notLogin-container {
    display: flex;
    flex-direction: column;
    .logo-wrapper {
      width: 85vw;
      height: 85vw;
      .login-logo {
        width: 85vw;
        height: 85vw;
        margin-top: 34px;
        background-repeat: no-repeat;
      }
    }
    .login-form label {
      display: block;
      margin-bottom: 1rem;
    }
  }
  .message-wrap {
    form{
      textarea {
        margin-left: auto;
        margin-right: auto;
      }
      small {
        margin-right: 0 !important;
        margin-top: 0 !important;
      }
    }
  }
  .container{
    width: 100vw;
  }
  .talk {
    .dropdown {
      .avatar {
        height: 48px;
        width: 48px;
        background-size: 48px 48px;
      }
    }
    .bounce {
      .tail-wrap {
        top: 20.5px;
      }
      .text-wrap {
        min-height: 48px;
        padding: 10px 20px;
      }
    }
  }
}